<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Michael J. Simons</title>
    <meta name="description" content="Personal website of Michael Simons, showcasing expertise in Data Analytics and Computational Mathematics.">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
    <style>
        body { font-family: 'Roboto', sans-serif; }
        .gradient-bg { background: #323946; }
        .hover-bg { background: #2a4365; }
		
		.float-img {
			float: left;  /* This makes the image float to the left */
			margin-right: 20px;  /* Adds space between the image and text */
			max-width: 140px;  /* Keeps the image size */
			height: auto;  /* Ensures it remains responsive */
			display: block; /* Ensures the float works properly */
		}
		
		.compact-about {
			margin-right: 90px; /* Adjust this value for tighter or looser compactness */
		}
		
		@media (max-width: 1270px) {
		  .compact-about {
				margin-right: 10px
			}
			
		   p.md\:text-lg {
            font-size: 1rem; /* This corresponds to "text-base" in Tailwind */
		   }
		}
    </style>
</head>
<body class="bg-gray-100">
    <!-- Unified Header -->
    <header class="gradient-bg text-white fixed top-0 w-full z-50 shadow-md" x-data="{ isOpen: false }"> 
		<div class="container mx-auto flex justify-between items-center p-2"> <!-- Reduced padding -->
			<a href="/" class="text-2xl font-bold hover:text-blue-200 transition">Michael J. Simons</a> <!-- Reduced font size -->
			<nav class="hidden md:flex space-x-4"> <!-- Adjusted spacing between links -->
				<a href="portfolio" class="hover:text-blue-200 transition">Reports on Data Science & Computational Mathematics</a>
				<a href="algorithm_visualizer" class="hover:text-blue-200 transition">Algorithm Visualizer</a>
			</nav>
			<button @click="isOpen = !isOpen" class="md:hidden focus:outline-none">
				<svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/></svg> <!-- Smaller button -->
			</button>
		</div>
		<div x-show="isOpen" class="md:hidden mt-1 space-y-1"> <!-- Reduced margins and spacing for mobile -->
			<a href="/" class="block py-1 px-3 text-sm hover:bg-blue-800">Home</a>>
			<a href="portfolio" class="block py-1 px-3 text-sm hover:bg-blue-800">Reports on Data Science & Computational Mathematics</a>
			<a href="algorithm_visualizer" class="block py-1 px-3 text-sm hover:bg-blue-800">Algorithm Visualizer</a>
		</div>
	</header>



    <!-- Main Content -->
    <main class="w-full mx-auto mt-20 px-4 lg:px-7">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-0 p-1 mb-10">
            <div class="space-y-2 compact-about">
                <h2 class="text-2xl font-bold mb-2 text-blue-900">About Me</h2> 
                <p class="text-base md:text-lg">
                    Welcome to my personal website. I'm Michael Simons, an aspiring Computational Mathematician and Data Scientist with a strong foundation in computer science and mathematics. My primary area of interest is in the extraction of meaningful insights from large-scale datasets and application of computational techniques to solve real-world problems.
                </p>
                <!-- Flex container for image and text -->
                <div>
					<!-- Adjusted image styling for float behavior -->
					<img src="static/me.jpg" alt="Michael J. Simons in graduation gown" class="float-img rounded-lg shadow-md">
					<p class="text-base md:text-lg">
						I recently graduated from the University at Buffalo with a B.A. in Mathematics, concentrating in Computing & Applied Mathematics. My academic journey has instilled in me a deep appreciation for the elegance of mathematical theory and its practical applications in technology. I'm particularly fascinated by the intersection of machine learning and software engineering, which I believe holds the key to unlocking innovative solutions across various industries.
					</p>
				</div>

                <p class="text-base md:text-lg">
                    I'm constantly learning and expanding my skillset, staying up-to-date with the latest developments in programming, data science and machine learning. As I embark on my professional career, I'm eager to apply my skills to contribute to cutting-edge projects and drive data-informed decision-making.
				<div class="flex items-center mt-2">  <!-- Container for resume link and icon -->
                        <a href="static/mjsimons_resume.pdf" download class="text-blue-500 hover:underline mr-2">View My Resume</a>
                </div>
				</p>
				<a href="portfolio" class="inline-block bg-blue-400 mt-6 text-white font-semibold py-2 px-4 rounded-lg hover:bg-blue-500 transition duration-300">
					Portfolio: Reports on Data Science & Computational Mathematics
				</a>
				</p>
				<p>
				<a href="algorithm_visualizer" class="inline-block bg-blue-400 text-white font-semibold py-2 px-4 rounded-lg hover:bg-blue-500 transition duration-300 mt-6">
					Personal Project: Algorithm Visualizer
				</a>
				</p>
            </div>
            <div class="space-y-5">
                <h2 class="text-2xl font-bold mb-4 text-blue-900">Technical Interests</h2> 
                <div class="bg-blue-100 p-4 rounded-lg hover:bg-blue-200 transition duration-300">
                    <h3 class="text-lg font-semibold mb-2 text-blue-800">Scientific Writing & Communication</h3>
                    <p class="text-sm">Communicating findings effectively through oral presentations and written technical reports using professional tools.</p>
                </div>
                <div class="bg-blue-100 p-4 rounded-lg hover:bg-blue-200 transition duration-300">
                    <h3 class="text-lg font-semibold mb-2 text-blue-800">Artificial Intelligence</h3>
                    <p class="text-sm">Developing intelligent systems that learn from data, including deep learning models for classification and regression tasks, as well as training reinforcement learning agents to solve real-world problems involving control systems.</p>
                </div>
                <div class="bg-blue-100 p-4 rounded-lg hover:bg-blue-200 transition duration-300">
                    <h3 class="text-lg font-semibold mb-2 text-blue-800">Data Analytics</h3>
                    <p class="text-sm">Transforming raw data into actionable insights using descriptive, predictive and diagnostic modeling techniques, including the production of meaningful data visualizations and the implementation of statistical and structural methods.</p>
                </div>
                <div class="bg-blue-100 p-4 rounded-lg hover:bg-blue-200 transition duration-300">
                    <h3 class="text-lg font-semibold mb-2 text-blue-800">Algorithm Design & Complexity Analysis</h3>
                    <p class="text-sm">Analyzing the time and space complexity of algorithms to develop an understanding of their performance characteristics; assisting in the design of computationally efficient data structures and algorithms that optimize sorting, searching and graph theoretical processes.</p>
                </div>
                <div class="bg-blue-100 p-4 rounded-lg hover:bg-blue-200 transition duration-300">
                    <h3 class="text-lg font-semibold mb-2 text-blue-800">Computational Mathematics</h3>
                    <p class="text-sm">Applying analytical and numerical methods to compute approximate solutions to complex mathematical problems in science and engineering.</p>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="gradient-bg text-white py-1 lg:py-1.5 fixed bottom-0 w-full z-50">
		<div class="mx-auto text-center">
			<p>© 2024 Michael J. Simons</p>
		</div>
	</footer>
</body>
</html>